$wildBlueYonder: #A7ADC6;
$irresistable: #ca738f;
$pansyPurple: #861657;
$primary: #8789c0;
$secondary: #dedeed;

$body-bg: white;
$body-color: black;

$navbar-light-color: white;
$navbar-light-brand-color: white;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

@import '~bootstrap/scss/bootstrap.scss';
